.table-indas {
	padding: 0px;
	padding-top: 10px;
	box-shadow: none;
}

.label-ellipsis-indas {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.label-title-indas {
	font-weight: bold;
}
span.label-title-indas::after {
	content: ": ";
}
h3.form-grupo-indas {
	margin-top: 10px;
	size: 75%;
	font-weight: bold;
}
