
.commercial-deals-modal-form{
    min-width: 80%;
}
.commercial-deal-steps{
    margin-bottom: 20px;
    margin-top: 20px;
}
@media (max-width: 992px) {
    .commercial-deals-modal-form{
        min-width: 90%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .commercial-deals-modal-form{
        min-width: 70%;
    }
}