.menu-container{
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100%;
    padding: 5px 1%;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1 2 1;
}
.menu-container .nav-container{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    display: flex;
}
.menu-container .nav-container-blank{
    flex-grow:2;
}
.menu-container .nav-container > li > label{
    padding: 10px 20px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    color: rgba(7, 87, 161, 0.767);
    font-weight: 500;
    font-size: 0.9rem;
    font-weight: bold;
}
.menu-container .nav-container > li > label:hover{
    cursor:pointer;
    /*box-shadow: 0px 0px 10px rgba(24,144,255,0.8);
    background-color: rgba(24,144,255,0.4);*/
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    /*color: rgba(7, 87, 161, 1);*/
    border-bottom: 3px solid rgba(7, 87, 161, 0.767);
}
.menu-container .user-container{
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.menu-container .user-container .ant-btn,
.menu-container .user-container-blank .ant-btn{
    background-color: transparent;
    border:0px;
    padding: 0px;
    margin: 0px;
    color:rgba(7, 87, 161, 0.767);
    text-align: left;
}

.menu-container .user-container-blank{
    display: flex;
    flex-direction: column;
}
.menu-container .user-container img{
    max-width: 150px;
}
.menu-container .user-container .user-desc-container{
    display: flex;
    flex-direction: column;
    padding-left:2px;
    justify-content: center;
}
.menu-container .user-container .user-desc-container label{
    font-size: 0.8rem;
    font-weight: bold;
}